App_WebReferences/ressearch/search.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="searchresults">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchres" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchresultsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchresultsResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="itemretrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="itemretrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="itemretrieveResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="searchresultsSoapIn">
    <wsdl:part name="parameters" element="tns:searchresults" />
  </wsdl:message>
  <wsdl:message name="searchresultsSoapOut">
    <wsdl:part name="parameters" element="tns:searchresultsResponse" />
  </wsdl:message>
  <wsdl:message name="itemretrieveSoapIn">
    <wsdl:part name="parameters" element="tns:itemretrieve" />
  </wsdl:message>
  <wsdl:message name="itemretrieveSoapOut">
    <wsdl:part name="parameters" element="tns:itemretrieveResponse" />
  </wsdl:message>
  <wsdl:portType name="searchSoap">
    <wsdl:operation name="searchresults">
      <wsdl:input message="tns:searchresultsSoapIn" />
      <wsdl:output message="tns:searchresultsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="itemretrieve">
      <wsdl:input message="tns:itemretrieveSoapIn" />
      <wsdl:output message="tns:itemretrieveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="searchSoap" type="tns:searchSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchresults">
      <soap:operation soapAction="http://tempuri.org/searchresults" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemretrieve">
      <soap:operation soapAction="http://tempuri.org/itemretrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="searchSoap12" type="tns:searchSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="searchresults">
      <soap12:operation soapAction="http://tempuri.org/searchresults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="itemretrieve">
      <soap12:operation soapAction="http://tempuri.org/itemretrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="search">
    <wsdl:port name="searchSoap" binding="tns:searchSoap">
      <soap:address location="http://localhost:53236/eathub_webservice/search.asmx" />
    </wsdl:port>
    <wsdl:port name="searchSoap12" binding="tns:searchSoap12">
      <soap12:address location="http://localhost:53236/eathub_webservice/search.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>