App_WebReferences/loginwebservice/login.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="user_login_check">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="type" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="user_login_checkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_login_checkResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="user_profile_retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="user_profile_retrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user_profile_retrieveResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="restaurant_profile_retrieve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="emailid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="restaurant_profile_retrieveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="restaurant_profile_retrieveResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="user_profile_update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="contact_no" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="zipcode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="user_profile_updateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_profile_updateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="restaurant_profile_update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="minamount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deliverytime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="restaurant_profile_updateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="restaurant_profile_updateResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="user_registration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="user_registrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user_registrationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="restaurant_registrations">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="contact_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="street" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zipcode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="minamount" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="deliverytime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="category" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="restaurant_registrationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="restaurant_registrationsResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="user_login_checkSoapIn">
    <wsdl:part name="parameters" element="tns:user_login_check" />
  </wsdl:message>
  <wsdl:message name="user_login_checkSoapOut">
    <wsdl:part name="parameters" element="tns:user_login_checkResponse" />
  </wsdl:message>
  <wsdl:message name="user_profile_retrieveSoapIn">
    <wsdl:part name="parameters" element="tns:user_profile_retrieve" />
  </wsdl:message>
  <wsdl:message name="user_profile_retrieveSoapOut">
    <wsdl:part name="parameters" element="tns:user_profile_retrieveResponse" />
  </wsdl:message>
  <wsdl:message name="restaurant_profile_retrieveSoapIn">
    <wsdl:part name="parameters" element="tns:restaurant_profile_retrieve" />
  </wsdl:message>
  <wsdl:message name="restaurant_profile_retrieveSoapOut">
    <wsdl:part name="parameters" element="tns:restaurant_profile_retrieveResponse" />
  </wsdl:message>
  <wsdl:message name="user_profile_updateSoapIn">
    <wsdl:part name="parameters" element="tns:user_profile_update" />
  </wsdl:message>
  <wsdl:message name="user_profile_updateSoapOut">
    <wsdl:part name="parameters" element="tns:user_profile_updateResponse" />
  </wsdl:message>
  <wsdl:message name="restaurant_profile_updateSoapIn">
    <wsdl:part name="parameters" element="tns:restaurant_profile_update" />
  </wsdl:message>
  <wsdl:message name="restaurant_profile_updateSoapOut">
    <wsdl:part name="parameters" element="tns:restaurant_profile_updateResponse" />
  </wsdl:message>
  <wsdl:message name="user_registrationSoapIn">
    <wsdl:part name="parameters" element="tns:user_registration" />
  </wsdl:message>
  <wsdl:message name="user_registrationSoapOut">
    <wsdl:part name="parameters" element="tns:user_registrationResponse" />
  </wsdl:message>
  <wsdl:message name="restaurant_registrationsSoapIn">
    <wsdl:part name="parameters" element="tns:restaurant_registrations" />
  </wsdl:message>
  <wsdl:message name="restaurant_registrationsSoapOut">
    <wsdl:part name="parameters" element="tns:restaurant_registrationsResponse" />
  </wsdl:message>
  <wsdl:portType name="loginSoap">
    <wsdl:operation name="user_login_check">
      <wsdl:input message="tns:user_login_checkSoapIn" />
      <wsdl:output message="tns:user_login_checkSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="user_profile_retrieve">
      <wsdl:input message="tns:user_profile_retrieveSoapIn" />
      <wsdl:output message="tns:user_profile_retrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="restaurant_profile_retrieve">
      <wsdl:input message="tns:restaurant_profile_retrieveSoapIn" />
      <wsdl:output message="tns:restaurant_profile_retrieveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="user_profile_update">
      <wsdl:input message="tns:user_profile_updateSoapIn" />
      <wsdl:output message="tns:user_profile_updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="restaurant_profile_update">
      <wsdl:input message="tns:restaurant_profile_updateSoapIn" />
      <wsdl:output message="tns:restaurant_profile_updateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="user_registration">
      <wsdl:input message="tns:user_registrationSoapIn" />
      <wsdl:output message="tns:user_registrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="restaurant_registrations">
      <wsdl:input message="tns:restaurant_registrationsSoapIn" />
      <wsdl:output message="tns:restaurant_registrationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="loginSoap" type="tns:loginSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="user_login_check">
      <soap:operation soapAction="http://tempuri.org/user_login_check" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="user_profile_retrieve">
      <soap:operation soapAction="http://tempuri.org/user_profile_retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restaurant_profile_retrieve">
      <soap:operation soapAction="http://tempuri.org/restaurant_profile_retrieve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="user_profile_update">
      <soap:operation soapAction="http://tempuri.org/user_profile_update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restaurant_profile_update">
      <soap:operation soapAction="http://tempuri.org/restaurant_profile_update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="user_registration">
      <soap:operation soapAction="http://tempuri.org/user_registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restaurant_registrations">
      <soap:operation soapAction="http://tempuri.org/restaurant_registrations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="loginSoap12" type="tns:loginSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="user_login_check">
      <soap12:operation soapAction="http://tempuri.org/user_login_check" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="user_profile_retrieve">
      <soap12:operation soapAction="http://tempuri.org/user_profile_retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restaurant_profile_retrieve">
      <soap12:operation soapAction="http://tempuri.org/restaurant_profile_retrieve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="user_profile_update">
      <soap12:operation soapAction="http://tempuri.org/user_profile_update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restaurant_profile_update">
      <soap12:operation soapAction="http://tempuri.org/restaurant_profile_update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="user_registration">
      <soap12:operation soapAction="http://tempuri.org/user_registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="restaurant_registrations">
      <soap12:operation soapAction="http://tempuri.org/restaurant_registrations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="login">
    <wsdl:port name="loginSoap" binding="tns:loginSoap">
      <soap:address location="http://localhost:53236/eathub_webservice/login.asmx" />
    </wsdl:port>
    <wsdl:port name="loginSoap12" binding="tns:loginSoap12">
      <soap12:address location="http://localhost:53236/eathub_webservice/login.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>